/* This is the My Chord Book CSS Stylesheet */

/* =================================================*/
/* This portion applies to all Pages                */
/* =================================================*/
$GlobalPadding: 15px;

@media only screen and (max-width: 600px) {
	#banner {
		width:400px;
	}
}

@media only screen and (min-width: 601px) {
	#banner {
		width:50%;
	}
}

body {
	padding: $GlobalPadding;
}

/* ===================================================*/
/* This portion is for the Main Pages                 */
/* Main pages are: Home, Favorites, Song Index, About */
/* ===================================================*/
h1.PageHeader {
	color: Green;
	background-color: white;
}

$SongTableBackColor: darkgreen;

%SongTableProp {
  border: 1px solid black;
  padding: $GlobalPadding;
}

table#SongTable {
  @extend %SongTableProp;
  border-collapse: collapse;
  width: 50%;
  
  th {
	@extend %SongTableProp;
	color: white;
	background-color: $SongTableBackColor;	
  }
  
  td {
	@extend %SongTableProp;
  }
  
  tr:nth-child(odd) {background-color: lightgreen;}
}

/* =================================================*/
/* This portion is for the Song Chords Pages        */
/* =================================================*/
h1#SongName {
	color: Blue;
	background-color: white;
}

pre.SongChords {
	font-size: 15px; 
}

