/* This is the My Chord Book CSS Stylesheet */

/* =================================================*/
/* This portion applies to all Pages                */
/* =================================================*/
@media only screen and (max-width: 600px) {
	#banner {
		width:400px;
	}
}

@media only screen and (min-width: 601px) {
	#banner {
		width:50%;
	}
}

/* ===================================================*/
/* This portion is for the Main Pages                 */
/* Main pages are: Home, Favorites, Song Index, About */
/* ===================================================*/
body {
	padding: 15px;
}

h1.PageHeader {
	color: Green;
	background-color: white;
}

table#SongTable {
  border-collapse: collapse;
  width: 50%;
}

table#SongTable th {
	color: white;
	background-color: darkgreen;	
}

table#SongTable, th, td {
  border: 1px solid black;
  padding: 15px;
}

table#SongTable tr:nth-child(odd) {background-color: lightgreen;}


/* =================================================*/
/* This portion is for the Song Chords Pages        */
/* =================================================*/
h1#SongName {
	color: Blue;
	background-color: white;
}

pre.SongChords {
	font-size: 15px; 
}

